In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/autismpredictiondata/autismtest.csv
/kaggle/input/autismpredictiondata/autismtrain.csv

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/autismpredictiondata/autismtest.csv
/kaggle/input/autismpredictiondata/autismtrain.csv

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
train = pd.read_csv('../input/autismpredictiondata/autismtrain.csv', na_values = ['?'])
test = pd.read_csv('../input/autismpredictiondata/autismtest.csv', na_values = ['?'])

### Exploring the datasets

In [5]:
print(train.shape)
print(test.shape)

(800, 22)
(200, 21)

In [6]:
print("train.columns-\n", train.columns)
print("test.columns-\n", test.columns)

train.columns-
 Index(['ID', 'A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age',
       'gender', 'ethnicity', 'jaundice', 'austim', 'contry_of_res',
       'used_app_before', 'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')
test.columns-
 Index(['ID', 'A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age',
       'gender', 'ethnicity', 'jaundice', 'austim', 'contry_of_res',
       'used_app_before', 'result', 'age_desc', 'relation'],
      dtype='object')

In [7]:
# Looking for NaNs, '?'
train.isna().sum()

ID                   0
A1_Score             0
A2_Score             0
A3_Score             0
A4_Score             0
A5_Score             0
A6_Score             0
A7_Score             0
A8_Score             0
A9_Score             0
A10_Score            0
age                  0
gender               0
ethnicity          203
jaundice             0
austim               0
contry_of_res        0
used_app_before      0
result               0
age_desc             0
relation            40
Class/ASD            0
dtype: int64

In [8]:
test.isna().sum()

ID                  0
A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 0
gender              0
ethnicity          54
jaundice            0
austim              0
contry_of_res       0
used_app_before     0
result              0
age_desc            0
relation            6
dtype: int64

In [9]:
train.describe()

,ID,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,result,Class/ASD
count,800.0000,800.000000,800.000000,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,400.5000,0.560000,0.530000,0.450000,0.41500,0.395000,0.303750,0.397500,0.508750,0.495000,0.617500,28.452118,8.537303,0.201250
std,231.0844,0.496697,0.499411,0.497805,0.49303,0.489157,0.460164,0.489687,0.500236,0.500288,0.486302,16.310966,4.807676,0.401185
min,1.0000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.718550,-6.137748,0.000000
25%,200.7500,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.198153,5.306575,0.000000
50%,400.5000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,24.848350,9.605299,0.000000
75%,600.2500,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,35.865429,12.514484,0.000000
max,800.0000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.461718,15.853126,1.000000

In [10]:
test.describe()

,ID,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,result
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.575000,0.555000,0.475000,0.425000,0.450000,0.340000,0.420000,0.54500,0.540000,0.640000,26.074568,8.671369
std,57.879185,0.495584,0.498213,0.500628,0.495584,0.498742,0.474898,0.494797,0.49922,0.499648,0.481205,14.517024,4.709994
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,4.781474,-5.655613
25%,50.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,16.152524,5.611695
50%,100.500000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000,1.000000,22.717970,9.804165
75%,150.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,32.004413,12.487160
max,200.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,77.110749,15.731361

In [11]:
# Looking at each column of training file
for col in train.columns:
    print(f'\n\nColumn Name - "{col}" : \n')
    print(train[col].value_counts())

Column Name - "ID" :

1      1
538    1
528    1
529    1
530    1
      ..
270    1
271    1
272    1
273    1
800    1
Name: ID, Length: 800, dtype: int64


Column Name - "A1_Score" :

1    448
0    352
Name: A1_Score, dtype: int64


Column Name - "A2_Score" :

1    424
0    376
Name: A2_Score, dtype: int64


Column Name - "A3_Score" :

0    440
1    360
Name: A3_Score, dtype: int64


Column Name - "A4_Score" :

0    468
1    332
Name: A4_Score, dtype: int64


Column Name - "A5_Score" :

0    484
1    316
Name: A5_Score, dtype: int64


Column Name - "A6_Score" :

0    557
1    243
Name: A6_Score, dtype: int64


Column Name - "A7_Score" :

0    482
1    318
Name: A7_Score, dtype: int64


Column Name - "A8_Score" :

1    407
0    393
Name: A8_Score, dtype: int64


Column Name - "A9_Score" :

0    404
1    396
Name: A9_Score, dtype: int64


Column Name - "A10_Score" :

1    494
0    306
Name: A10_Score, dtype: int64


Column Name - "age" :

38.172746    1
9.349183     1
26.412616    1
20.258796    1
61.860473    1
            ..
47.284149    1
11.029966    1
16.626307    1
33.123913    1
46.966113    1
Name: age, Length: 800, dtype: int64


Column Name - "gender" :

m    530
f    270
Name: gender, dtype: int64


Column Name - "ethnicity" :

White-European     257
Middle Eastern      97
Asian               67
Black               47
South Asian         34
Pasifika            32
Others              29
Latino              17
Hispanic             9
Turkish              5
others               3
Name: ethnicity, dtype: int64


Column Name - "jaundice" :

no     615
yes    185
Name: jaundice, dtype: int64


Column Name - "austim" :

no     669
yes    131
Name: austim, dtype: int64


Column Name - "contry_of_res" :

United States           134
India                   108
New Zealand              78
United Kingdom           67
Jordan                   55
United Arab Emirates     40
Australia                37
Canada                   30
Afghanistan              22
Netherlands              20
Austria                  18
Sri Lanka                17
Brazil                   12
Spain                    10
France                   10
Kazakhstan               10
Ireland                   9
Iran                      8
Russia                    7
South Africa              6
Italy                     6
Bahamas                   6
Malaysia                  6
Viet Nam                  5
Pakistan                  4
China                     4
Mexico                    4
Nicaragua                 4
Armenia                   4
Azerbaijan                4
Iraq                      4
Aruba                     4
Saudi Arabia              4
AmericanSamoa             4
Bolivia                   3
Serbia                    3
Ethiopia                  3
Iceland                   3
Germany                   3
Ukraine                   3
Niger                     3
Cyprus                    2
Sweden                    2
Oman                      2
Belgium                   1
Romania                   1
Burundi                   1
Czech Republic            1
Egypt                     1
Angola                    1
Sierra Leone              1
Japan                     1
Argentina                 1
Tonga                     1
Hong Kong                 1
Bangladesh                1
Name: contry_of_res, dtype: int64


Column Name - "used_app_before" :

no     750
yes     50
Name: used_app_before, dtype: int64


Column Name - "result" :

 6.351166     1
 13.842880    1
 12.649432    1
-0.158828     1
-0.115811     1
             ..
 1.629858     1
 12.976983    1
 12.323881    1
-0.529654     1
 2.243304     1
Name: result, Length: 800, dtype: int64


Column Name - "age_desc" :

18 and more    800
Name: age_desc, dtype: int64


Column Name - "relation" :

Self                        709
Parent                       29
Relative                     18
Others                        2
Health care professional      2
Name: relation, dtype: int64


Column Name - "Class/ASD" :

0    639
1    161
Name: Class/ASD, dtype: int64

In [12]:
## We notice from above cell that columns 'ethinicity' and 'relation' contain a '?', 
#let us replace '?' with mode of these columns
mode_rel_train = train['relation']
train['relation'] = train['relation'].fillna(train['relation'].mode())
train['ethnicity'] = train['ethnicity'].fillna(train['ethnicity'].mode())

test['relation'] = test['relation'].fillna(test['relation'].mode())
test['ethnicity'] = test['ethnicity'].fillna(test['ethnicity'].mode())

In [13]:
# Since 'age_desc' column has single value, let us drop it from both train and test dataframes 
train = train.drop(['age_desc'], axis = 1)
test = test.drop(['age_desc'], axis = 1)

In [14]:
# Let us convert categorical columns to numerical 
train['gender'] = pd.factorize(train['gender'])[0]
train['ethnicity'] = pd.factorize(train['ethnicity'])[0]
train['jaundice'] = pd.factorize(train['jaundice'])[0]
train['contry_of_res'] = pd.factorize(train['contry_of_res'])[0]
train['used_app_before'] = pd.factorize(train['used_app_before'])[0]
train['relation'] = pd.factorize(train['relation'])[0]
train['austim'] = pd.factorize(train['austim'])[0]

test['gender'] = pd.factorize(test['gender'])[0]
test['ethnicity'] = pd.factorize(test['ethnicity'])[0]
test['jaundice'] = pd.factorize(test['jaundice'])[0]
test['contry_of_res'] = pd.factorize(test['contry_of_res'])[0]
test['used_app_before'] = pd.factorize(test['used_app_before'])[0]
test['relation'] = pd.factorize(test['relation'])[0]
test['austim'] = pd.factorize(test['austim'])[0]

### Modelling

In [15]:
## Identifying the predictors and the target columns
## Remove ID column and Class ASD column from predictors
## Class/ASD is the target column (last column in training file)

# For training file
X_train = train.iloc[:,1:-1]
y_train = train.iloc[:, -1]

# Same columns to use from Test file as well
X_test = test.iloc[:,1:]

In [16]:
import numpy as np
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


## Splitting training dataset into training and test portions
xx_train, xx_test, yy_train , yy_test = train_test_split(X_train, y_train, test_size = 0.3, random_state = 42)

In [17]:
svmclf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
svmclf.fit(xx_train, yy_train)
# Making prediction about test portion of training datafile using SVM
yy_pred = svmclf.predict(xx_test)
print(accuracy_score(yy_test, yy_pred))

0.8791666666666667

In [18]:
# Making prediction about test portion of training datafile using RFC
from sklearn.ensemble import RandomForestClassifier
rfclf = RandomForestClassifier(max_depth=8, random_state=0)
rfclf.fit(xx_train, yy_train)
y_pred = rfclf.predict(xx_test)
print(accuracy_score(yy_test, yy_pred))

0.8791666666666667

### Using Feature Selection with Recursive Feature Elimination

In [19]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
estimator = SVR(kernel="linear")
selector = RFE(estimator, n_features_to_select=10, step=1)
selector = selector.fit(xx_train, yy_train)
print(selector.support_)
print(selector.ranking_)

[ True False False  True  True  True  True  True  True False False  True
 False  True  True False False False False]
[ 1  4  2  1  1  1  1  1  1  6  8  1 10  1  1  9  3  7  5]

In [20]:
xx_selected_train_cols  = xx_train.iloc[:,selector.support_]
xx_selected_test_cols = xx_test.iloc[:, selector.support_]

In [21]:
# Prediction using SVM and Reduced Features on training file
svmclf2 = make_pipeline(StandardScaler(), SVC(gamma='auto'))
svmclf2.fit(xx_selected_train_cols, yy_train)
yy_pred = svmclf2.predict(xx_selected_test_cols)
print(accuracy_score(yy_test, yy_pred))

0.8833333333333333

In [22]:
# Prediction using LR and Reduced Features on training file
from sklearn.linear_model import LogisticRegression
lrclf = make_pipeline(StandardScaler(), LogisticRegression(random_state=0))
lrclf.fit(xx_selected_train_cols, yy_train)
yy_pred = lrclf.predict(xx_selected_test_cols)
print(accuracy_score(yy_test, yy_pred))

0.8791666666666667

In [23]:
# Prediction using RFC and Reduced Features on training file
from sklearn.ensemble import RandomForestClassifier
rfclf1 = RandomForestClassifier(max_depth=4, random_state=0)
rfclf1.fit(xx_selected_train_cols, yy_train)
yy_pred =  rfclf1.predict(xx_selected_test_cols )
print(accuracy_score(yy_test, yy_pred))

0.9041666666666667

In [24]:
## For making predictions on the test file for submission, we will first extract the same columns as were used to
## train the best performing RFC Classifier
testfile_selected_cols = X_test.iloc[:, selector.support_]

In [25]:
## Verifying with RFC model with cross validation
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(max_depth=4, random_state=0)
scores = cross_val_score(model, xx_selected_train_cols, yy_train, scoring = 'roc_auc', cv = 5)
print(scores)
print(np.mean(scores))

[0.8822606  0.95002616 0.91732077 0.88358586 0.86767677]
0.9001740323168894

In [26]:
## Making predictions for test file using RFC trained with reduced features
y_pred =  rfclf1.predict(testfile_selected_cols)
submission = pd.DataFrame()
submission['ID'] = test.ID
submission['Class/ASD'] = y_pred
submission.to_csv('submission.csv', index = False)